<!-- Seccion de footer de la pagina -->
<footer>
    <div class="container">
      <div class="row sec-footer">
        <div class="col-2">
          <a href="index.html"><img src="assets/images/logo-blanco.png" alt=""></a>
        </div>
        <div class="col-2">
          <h6>внимание</h6>
          <ul>
            <li><a href="#">разлика</a></li>
            <li><a href="#">съдържание</a></li>
            <li><a href="#">Известен</a></li>
            <li><a href="#">нормален</a></li>
            <li><a href="#">печатар</a></li>
          </ul>
        </div>
        <div class="col-4">
          <h6>Съществуват</h6>
          <p><i class="bi bi-geo-alt"></i> 100000, съдържанието, което чете, а не на оформлението примерен 10</p>
          <p><i class="bi bi-telephone"></i> +7(701) 77 76 811</p>
          <p><i class="bi bi-envelope"></i> Galym.sultanovmail</p>
        </div>
        <div class="col-4">
          <h6>променени един</h6>
          <span><a class="icon-footer" href="https://facebook.com"><i class="bi bi-facebook"></i></a></span>
          <span><a class="icon-footer" href="https://twitter.com"><i class="bi bi-twitter"></i></a></span>
          <span><a class="icon-footer" href="https://linkedin.com"><i class="bi bi-linkedin"></i></a></span>
          <span><a class="icon-footer" href="https://pinterest.com"><i class="bi bi-pinterest"></i></a></span>
        </div>
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="row sec-copyright">
        <div class="col-12">
          <p>© 2019 Digital Project. смущаващи или нецензурни думи</p>
        </div>
      </div>
    </div>
  </footer>