<section class="container index-sec-01">
    <div class="row">
      <div class="col-4">
        <img class="slide-project" src="assets/images/PROJECT.png" alt="Project">
        <img class="slide-nurtwn" src="assets/images/NURTOWN.png" alt="Nurtown">
        <br>
        <div class="slide-arrows">
          <img class="slide-left" src="assets/images/slide-left.png" alt="Flecha a la izquierda">
          <img class="slide-right" src="assets/images/slide-right.png" alt="Flecha a la derecha">
          <img class="slide-line" src="assets/images/slide-line.png" alt="Linea recta decorativa">
        </div>
        <img class="slide-numbers" src="assets/images/slide-numbers.png" alt="Numero de diapositiva en el slide">
      </div>
      <div class="col-8 index-sec-01-div">
        <img class="index-sec-01-banner" src="assets/images/image-01.png" alt="Imagen del slide">
        <a class="global-01-bnt index-sec-01-bnt" href="#">времетоадр →</a>
      </div>
    </div>
  </section>