<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Titulo -->
  <title>Architects | Diseño arquitectonico</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/fav.png">

  <!-- Custom css -->
  <!-- <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="css/index.css"> -->
</head>

<body>
  <!-- Seccion del encabezado -->
  <app-header></app-header>

  <!-- Seccion 00 Botones flotantes fixed para contactenos, galeria e intra-documentales -->
  <section>
    <a href="login.html" class="btn-login">INICIAR SESION →</a>
    <a href="#formulario" class="btn-formulario">FORMULARIO →</a>
    <a href="contacto.html" class="btn-contacto">CONTACTENOS →</a>
    <a href="galeria.html" class="btn-galeria">GALERIA →</a>
  </section>

  <!-- Seccion 01 del slider -->
  <section class="container index-sec-01">
    <div class="row">
      <div class="col-4">
        <img class="slide-project" src="assets/images/PROJECT.png" alt="Project">
        <img class="slide-nurtwn" src="assets/images/NURTOWN.png" alt="Nurtown">
        <br>
        <div class="slide-arrows">
          <img class="slide-left" src="assets/images/slide-left.png" alt="Flecha a la izquierda">
          <img class="slide-right" src="assets/images/slide-right.png" alt="Flecha a la derecha">
          <img class="slide-line" src="assets/images/slide-line.png" alt="Linea recta decorativa">
        </div>
        <img class="slide-numbers" src="assets/images/slide-numbers.png" alt="Numero de diapositiva en el slide">
      </div>
      <div class="col-8 index-sec-01-div">
        <img class="index-sec-01-banner" src="assets/images/image-01.png" alt="Imagen del slide">
        <a class="global-01-bnt index-sec-01-bnt" href="#">времетоадр →</a>
      </div>
    </div>
  </section>

  <!-- Seccion 02 de banner con 3 imagenes -->
  <section class="container index-sec-02">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-4">
            <img class="index-sec-02-img-01" src="assets/images/image-02.png"
              alt="Imagen de banner de un total de 3 imagenes">
            <img class="index-sec-02-img-02" src="assets/images/image-03.png"
              alt="Imagen de banner de un total de 3 imagenes">
          </div>
          <div class="col-8">
            <img class="index-sec-02-img-03" src="assets/images/image-04.png"
              alt="Imagen de banner de un total de 3 imagenes">
          </div>
        </div>
      </div>
      <div class="col-4">
        <h3>Латински</h3>
        <P>Той използва речник от над 200 латински думи, комбинирани по подходящ начин като изречения, за да генерират
          истински Lorem Ipsum пасажи. Оттук следва, че генерираният Lorem Ipsum пасаж не съдържа повторения, смущаващи,
          нецензурни и всякакви неподходящи думи.</P>
        <a class="global-01-bnt" href="#">времетоадр →</a>
      </div>
    </div>
  </section>

  <!-- Seccion 03 texto informativo -->
  <section class="container index-sec-03">
    <div class="row">
      <div class="col-12">
        <h3>нормален текст</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <img src="assets/images/1.png" alt="Numero 1 banner informativo">
      </div>
      <div class="col-4">
        <p>Известен факт е, че читателя обръща внимание на съдържанието, което чете, а не на оформлението му.</p>
      </div>
      <div class="col-2"></div>
      <div class="col-1">
        <img src="assets/images/2.png" alt="Numero 2 banner informativo">
      </div>
      <div class="col-4">
        <p class="index-sec-03-text-2">Известен факт е, че читателя обръща внимание на съдържанието, което чете, а не на
          оформлението му.</p>
      </div>
    </div>
  </section>

  <!-- Seccion 04 de galeria de imagenes -->
  <section class="container index-sec-04">
    <div class="row">
      <div class="col-12">
        <h3>популярен наши</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <div class="index-sec-04-cont-galeria">
              <img src="assets/images/image-05.1.png" alt="Imagen de estadio de grupo de imagen de galeria">
              <img class="index-sec-04-fondo-text" src="assets/images/image-05.2.png"
                alt="Imagen con informacion de inicio de galeria de imagenes">
              <img class="index-sec-04-fondo-text" src="assets/images/image-05.3.png"
                alt="Imagen con informacion de inicio de galeria de imagenes">
            </div>
            <img class="index-sec-04-img" src="assets/images/image-06.png"
              alt="Imagen de museo opera de grupo de imagen de galeria">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <img class="index-sec-04-imgs" src="assets/images/image-07.png"
              alt="Imagen de terminal de buses de grupo de imagen de galeria">
            <img class="index-sec-04-imgs" src="assets/images/image-08.png"
              alt="Imagen de conjunto de apartamentos de grupo de imagen de galeria">
            <img class="index-sec-04-imgs" src="assets/images/image-09.png"
              alt="Imagen de aeropuerto de globos de grupo de imagen de galeria">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex flex-row-reverse">
        <a class="global-02-bnt index-sec-04-bnt" href="#" style="margin-right: 75px;">времетоадр →</a>
      </div>
    </div>
  </section>

  <!-- Seccion 05 de formulario con bootstrap -->
  <section class="container index-sec-05" id="formulario">
    <div class="row">
      <div class="col-12">
        <h3>софтуер за печатни</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <form id="contacto" class="row g-3">
          <div class="col-12">
            <input type="text" class="index-sec-05-input" id="inputName" placeholder="факт">
          </div>
          <div class="col-12">
            <input type="text" class="index-sec-05-input" id="inputPhone" placeholder="английски езикато*">
          </div>
          <div class="col-12">
            <input type="email" class="index-sec-05-input" id="inputEmail" placeholder="E-mail*">
          </div>
          <div class="col-12">
            <input type="text" class="index-sec-05-input" id="inputCity" placeholder="Популяризиран епрез/60те">
          </div>
          <div class="col-12">
            <textarea class="index-sec-05-input" id="textareaMessage" rows="3" placeholder="софтуерза*"></textarea>
          </div>
          <div class="col-12">
            <p>публикуване и редактори на Уеб страници използват Lorem Ipsum като примерен</p>
          </div>
          <div class="col-12">
            <button type="submit" class="global-02-bnt">случайност →</button>
          </div>
        </form>
      </div>
      <div class="col-8">
        <img src="assets/images/image-10.png" alt="Hombre hablando por celular en puesta de sol">
      </div>
    </div>
  </section>

  <!-- Seccion de footer de la pagina -->
  <app-footer></app-footer>

  
  <!-- <script src="js/main.js"></script>
  <script src="js/index.js"></script>
  <script src="js/formulario.js"></script> -->
</body>

</html>
